<div class="sidebar">
  <div class="container sidebar-sticky">
    <div class="sidebar-about"> 
      <a class="no-hover" href="/" tabindex="-1"> 
        <img src="/public/images/slackline_circle.png" class="avatar" alt="" data-ignore="" style = "display: block;margin-left: auto;margin-right: auto;width: 65%;"/> 
      </a>
      <h2 class="h1"><a href="/">{{ site.title }}</a></h2><p class=""> {{ site.description }}</p>
    </div>

    <nav class="sidebar-nav">
      <a href="{{ site.github.repo }}"><span class="icon icon--github"><img src="/public/images/icon-github.svg" width="10%"/></span></a>   
    </nav>

    <p>&copy; {{ site.time | date: '%Y' }}. All rights reserved.</p>
  </div>
</div>
